<!DOCTYPE html>{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дом у моря</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_detail.css' %}">
</head>
<body>
    {% include 'header.html' %}
    {% block application %}{% endblock %}
    {% include 'footer.html' %}
</body>
</html>
